body   {
  color: black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-size: small;
  font-weight: bolder;
  padding: 1rem;
}

p, button{
  margin: 0;
  font-size: small;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

#collaborationBigSection{
  min-height: 36rem;
}


.fog-overlay {
    position: fixed;
    inset: 0;
    z-index: 10;

    background: radial-gradient(
        circle at 50% 30%,
        rgba(255, 255, 255, 0.4),
        rgba(200, 200, 200, 0.3),
        rgba(120, 120, 120, 0.2)
    );

    backdrop-filter: blur(6px);
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.homeMain{
  padding-bottom: 5rem;
  padding-top: 6rem;
}

/*query per css globale tablet*/

@media (min-width: 426px) {

  h1, h2, h3, h4, h5, h6 {
    font-size: medium;
  }

  p, button {
    font-size: small;
  }
}