/*css GlobalNavbarScs*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: lightblue;
}

.navbar__menu-btn {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.navbar__logo img {
  height: 2rem;
}

.navbar__login {
  background: none;
  border: none;
  color: lightblue;
}

.is-open {
  position: absolute;
  background: black;
  z-index: 5;
  padding: 1rem;
  top: 0rem;
  width: 100%;
  box-shadow: 0px 1px 14px 7px;
}

.mobile-menu-header{
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.is-open ul{
  margin: 1rem 1rem 1rem 0rem;
  padding-left: 1.5rem;
}

.is-open li{
  padding: 1.5rem 0rem 0.5rem 0rem;
  border-bottom: solid 1px grey;
  width: 50%;
}

.link{
  color: white;
}

#containerLight{
  padding: 0.5rem;
  border-radius: 5rem;
  opacity: 0;
}
    
.sunUp{
  fill: #e9cd4f;
}

.moonUp{
  fill: #ffffff;
}

.nav-item {
  position: relative;
}

.dropdown {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  display: none;
  list-style: none;
  padding: 10px;
  border-radius: 8px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* DESKTOP */
.navbar__desktop {
  display: none;
}

/*css GlobalNavbarScs per laptop in su*/

@media (min-width: 769px) {
  .navbar__mobile {
    display: none;
  }

  .navbar__desktop {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .navbar__desktop ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }

  .navbar__desktop li {
    width: 20%;
    text-align: center;
    transform: skewX(34deg);
    border-right: 2px solid gray;
    list-style-type: none;
  }

  .navbar__desktop a {
    display: block;
    padding: 1.5rem;
    transform: skewX(336deg);
    color: white;
    margin: 0.5rem;
  }

  .navbar__desktop a:hover {
    background-color: #4CAF50;
    border-radius: 2rem;
    box-shadow: -4px 1px 27px -1px;
  }
}

/*css per telefono*/

/*css home*/

#bigIntro{
  animation: forwardIntro 1s ease-in;
}

.introProject{
  padding: 1rem;
  animation: forward 1s ease-in;
}

.introHome {
  padding: 1rem 0rem 2rem 0rem;
  text-align: center;
  color: white;
}

.introHome span {
  display: block;
  color: #235fb7;
  margin-top: 1rem;
}

.introHome p {
  margin-top: 1rem;
  padding: 0rem 4rem 0rem 4rem;
}

.imgintroHome{
  width: 95%;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 22px 3px;
  color: #4c4c4cc9;
}

#title-consapevolezza-civica, 
#title-unione,
#title-gestione-emergenze-naturali, 
#title-primo-soccorso{
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#title-consapevolezza-civica::after, 
#title-unione::after, 
#title-gestione-emergenze-naturali::after, 
#title-primo-soccorso::after,
#course-libertà::after,
#course-lealtà::after,
#course-tenacia::after,
#course-fede::after,
#course-onore::after,
#course-forza::after,
#course-coraggio::after,
#course-dovere::after,
#course-corso::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(33 33 33 / 40%);
}

#title-consapevolezza-civica > *, 
#title-unione > *,
#title-gestione-emergenze-naturali > *, 
#title-primo-soccorso > *,
#course-libertà > *,
#course-lealtà > *,
#course-tenacia > *,
#course-fede > *,
#course-onore > *,
#course-forza > *,
#course-coraggio > *,
#course-dovere > *,
#course-corso > * {
  position: relative;
  z-index: 1;
}

#title-consapevolezza-civica{
  background-image: url('../img/imgCardsHome/consapevolezzaCivica1.jpg');
}

#title-unione{
  background-image: url('../img/imgCardsHome/unione1.jpeg');
}

#title-gestione-emergenze-naturali{
  background-image: url('../img/imgCardsHome/emergenze1.jpg');
}

#title-primo-soccorso{
  background-image: url('../img/imgCardsHome/prontoSoccorso1.jpg');
}

.articole-value{
  position: relative;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 1px solid #555555;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0px 1px 15px -6px;
  background-color: #414141e8;
  z-index: 1;
}

.articoleCardImg1, .articoleCardImg2{
  display: none;
}

.articole-value p{
  padding: 1rem 3rem 2rem 3rem;;
}

.section-value {
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(54, 173, 224, 1) 31%);
  border-radius: 3rem 3rem 0rem 0rem;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.section-value article{
  box-shadow: 0px 2px 7px #757575;
  border-radius: 1rem;
  width: 40%;
  margin: 0.5rem;
}

.courses{
  margin-top: 2rem;
  text-align: center;
}

.carousel-container {
  width: 269px; /* larghezza visibile (una slide) */
  margin: auto;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 85%;
  min-height: 25rem;
  margin: 1rem;
  padding: 2rem;
  transform: translateY(2rem);
  border: #949494 solid 1px;
  border-radius: 2rem;
  box-shadow: 0px 0px 4px;
  transition: all 0.4s ease;
}

.slide.active {
  transform: translateZ(10px);
  opacity: 1;
  transition: all 0.4s ease;
}

.buttonCarosell {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #99999999;
  color: #1da718;
  padding: 0.5rem;
  border: #5ba05b solid 1px;
  border-radius: 6rem;
}

.prev {
  left: -1.5rem;
  top: 15rem;
}

.next {
  right: -1rem;
  top: 15rem;
}

#course-libertà{
  background-image: url('../img/imgCardsHome/1-corso-copertina-card.jpg');
  background-size: 32rem 25rem;
  background-position-x: -10rem;
  position: relative;
  overflow: hidden;
}

#course-lealtà{
  background-image: url('../img/imgCardsHome/2-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-tenacia{
  background-image: url('../img/imgCardsHome/3-corso-copertina-card.jpg');
  background-size: cover;
  background-position-x: -14rem;
  position: relative;
  overflow: hidden;
}

#course-fede{
  background-image: url('../img/imgCardsHome/4-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-onore{
  background-image: url('../img/imgCardsHome/5-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-forza{
  background-image: url('../img/imgCardsHome/6-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-coraggio{
  background-image: url('../img/imgCardsHome/7-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-dovere{
  background-image: url('../img/imgCardsHome/8-corso-copertina-card.jpg');
  background-size: 28rem 25rem;
  background-position-x: -5rem;
  position: relative;
  overflow: hidden;
}

#course-corso{
  background-image: url('../img/imgCardsHome/corso-nuovo-copertina-card.jpg.JPG');
  background-size: 39rem 25rem;
  background-position-x: -2rem;
  position: relative;
  overflow: hidden;
}

.groupBottunCorsi{
  display: flex;
  justify-content: space-around;
  margin: 4rem 2rem 0rem 2rem;
}

.collaboration{
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgb(255 255 255) 65%);
  padding: 1rem 1rem 7rem 1rem;
  border-radius: 4rem 4rem 0rem 0rem;
  text-align: center;
  color: black;
  margin-top: 6rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.partners img {
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.section_pdf{
  padding: 1rem 3rem 10rem 3rem;
  background-image: url('./img/immagine-section-pdf-home.JPG');
  background-size: cover;
}

.section_pdf p{
  background-color: #363636cc;
  border-radius: 1rem;
}

.section_pdf a{
  margin: 2rem;
  background-color: #6f9342;
  box-shadow: 0px 2px 10px 4px;
}

.fakeButton{
  padding: 1rem;
  margin: 1rem 1rem 1rem 2rem;
  background-color: #b22828;
  border-radius: 4rem 0rem 4rem 0rem;
  text-align: center;
  box-shadow: 0px 0px 9px -2px #cdcdcd;
}

.linkHome{
  display: block;
}

.groupArticoleEvents{
  margin: 1.5rem;
}

.cardEvents{
  position: relative;
}

/*animazione per telefono*/

@keyframes forward {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes forwardIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*css home tablet*/
@media (min-width: 426px) {

  .introProject{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .imgintroHome{
    width: 80%;
    order: -1;
  }

  .linkHome{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 3rem;
  }

  .articoleCardImg1{
    display: none;
  }

  .articoleCardImg2{
    display: block;
    position: absolute;
    top: 2rem;
    height: 18rem;
    width: 80%;
    right: -4rem;
    transform: rotateY(50deg) scaleX(-1);
    border-radius: 10rem 0rem 0rem 10rem;
    box-shadow: 0px 0px 12px 1px;
  }

  .articole-value {
    position: relative;
    width: 40%;
    margin-left: 3rem;
    margin-right: 0rem;
    min-height: 22rem;
    display: flex;
    line-height: 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .section-value article {
    width: 30%;
    min-height: 9rem;
  }

  .buttonCarosell {
    height: 15rem;
    width: 3rem;
  }

  .next {
    right: -15rem;
  }

  .prev {
    left: -15rem;
  }

  #groupFakeButton{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .fakeButton {
    width: 35%;
    min-height: 6rem;
  }
}

/*css home laptop*/
@media (min-width: 769px) {

  .fakeButton {
    width: 27%;
  }

  .next {
    right: -23rem;
  }

  .prev {
    left: -23rem;
  }

  .articole-value {
    width: 50%;
    margin-right: auto;
  }
  
  .articoleCardImg2 {
    right: -6rem;
    transform: rotateY(57deg);
    border-radius: 1rem 8rem 8rem 1rem;
  }

  .groupArticoleEvents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cardEvents{
    width: 50%;
  }

  .articole-value p {
    padding: 2rem 0rem 3rem 0rem;
  }

}

/*css home desktop*/
@media (min-width: 1025px) {

  .articole-value {
    width: 35%;
    height: auto;
  }

  #title-consapevolezza-civica{
    background-image: none;
  }

  #title-unione{
    background-image: none;
  }

  #title-gestione-emergenze-naturali{
    background-image: none;
  }

  #title-primo-soccorso{
    background-image: none;
  }

  #title-consapevolezza-civica::after, 
  #title-unione::after, 
  #title-gestione-emergenze-naturali::after, 
  #title-primo-soccorso::after{
    background: rgb(33 33 33);
  }

  .articoleCardImg1 {
    display: block;
    position: absolute;
    top: 2rem;
    height: 18rem;
    left: -2rem;
    transform: rotateY(48deg);
    border-radius: 8rem 1rem 1rem 8rem;
    box-shadow: 0px 0px 12px 1px;
  }

  .articole-value {
    width: 38%;
    margin-left: auto;
    margin-right: auto;
  }

  .prev {
    left: -36rem;
  }

  .next {
    right: -36rem;
  }
}

/*css ChiSiamo*/

#chiSiamo{
  animation: forwardIntroChiSiamo 1s ease-in;
}

#nascita{
  background-image: url('../img/imgCardsHome/1-corso-copertina-card.jpg');
  background-size: cover;
  height: 17rem;
  padding-top: 0.5rem;
  background-position-x: -2.5rem;
  display: flex;
  justify-content: flex-end;
}

#nascita div{
  background-color: #626262d1;
  padding: 3rem 0rem 1rem 3rem;
  margin-left: clamp(3rem, 10vw, 14rem);
  border-radius: 10rem 0rem 0rem 0rem;
  text-align: center;
  width: 100%;
}

#mission{
  text-align: center;
  margin: 2rem 1rem 4rem 1rem;
}

#mission p{
  margin: 1rem;
  box-shadow: 0px 0px 12px 3px #474747;
  border-radius: 1rem;
  padding: 2rem;
  animation: missionChiSiamo 2s ease-in;
}

.course-box {
  color: #ffffff;
  padding: 1rem;
  border-radius: 0rem 6rem 0rem 0rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 23%, rgb(72 87 80) 43%);
}

.course-box ul{
  margin: 2rem 0rem 2rem 0rem;
  line-height: 3rem;
}

.course-box img{
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 0px 0px 5px 1px white;
}

#progetto div{
  background-color: #ffffffb5;
  color: black;
  padding: 0.5rem;
  border-radius: 3rem;
}

.media {
  padding: 2rem 0rem 3rem 0rem;
}

.video-wrapper iframe {
  width: 100%;
  height: 22rem;
}

#chiSiamoDesktop{
  display: none;
}

.contentChiSiamoPhone{
  display: block;
}

#contentChiSiamoDesktop{
  display: none;
}

#mediaDesktopChiSiamo{
  display: none;
}

#mediaPhoneChiSiamo{
  display: block;
}

/*animazione per telefono*/

@keyframes missionChiSiamo{
  0% {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px #474747;
  }
  20%{
    transform: scale(1);
    box-shadow: 0px 0px 18px 5px #474747;
  }
  40%{
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 1px #474747;
  }
  60%{
    transform: scale(1);
    box-shadow: 0px 0px 18px 5px #474747;
  }
  80%{
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 1px #474747;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 12px 3px #474747;
  }
}

@keyframes forwardIntroChiSiamo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*query chiSiamo per tablet*/

@media (min-width: 426px) {

  #nascita {
    background-position-y: -8rem;
  }

  #nascita div {
    margin-left: 27rem;
  }

  #mission {
    background-position: unset;
    background-position-y: 2rem;
    background-size: 48rem 31rem;
    height: 29rem;
  }

  #mission p {
    margin: 2rem;
    width: 40%;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  #progetto {
    background-position-x: 0rem;
    padding: 6rem;
  }

  #groupVideo iframe {
    height: 25rem;
  }

  #nascita {
    margin: 2rem 0rem 0rem 0rem;
    background-position: center;
    background-position-x: -6rem;
    height: 24rem;
  }

  #nascita p{
    line-height: 2rem;
    padding: 0rem 2rem 0rem 2rem;
  }
}

/*query chiSiamo per laptop*/

@media (min-width: 769px) {

  #chiSiamo{
    display: none;
  }

  #chiSiamoDesktop{
    display: flex;
    margin: 8rem 1rem 8rem 1rem;
  }

  .cardChiSiamo{
    margin: auto;
    box-shadow: 0px 0px 12px 3px #474747;
    border-radius: 1rem;
    padding: 2rem;
    animation: missionChiSiamo 2s ease-in;
    text-align: center;
    line-height: 1.5rem;
    width: 35%;
  }

  .introChiSiamoDesktop{
    background-image: url('../img/imgCardsHome/1-corso-copertina-card.jpg');
    background-position: center;
    background-size: cover;
  }

  #introChiSiamoDesktop{
    position: relative;
    padding: 2rem;
  }

  #introChiSiamoDesktop::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(33 33 33 / 70%);
    border-radius: 1rem 8rem 1rem 8rem;
  }

  #introChiSiamoDesktop > *{
    position: relative;
    z-index: 1;
  }

  #contentChiSiamoDesktop p{
    width: 50%;
    margin: auto;
  }

  .contentChiSiamoPhone{
    display: none;
  }

  #contentChiSiamoDesktop{
    display: block;
  }

  #imgMediaChiSiamoDesktop, .course-box ul{
    display: flex;
    justify-content: space-around;
  }

  .course-box img {
    height: 23rem;
    margin-top: 4rem;
    width: 50%;
  }

  #mediaDesktopChiSiamo{
    display: block;
    margin: 4rem 0rem 5rem 0rem;
    background-color: #000000;
    padding: 1rem;
    border-radius: 5rem 5rem 0rem 0rem;
  }

  #mediaPhoneChiSiamo{
    display: none;
  }
}

/*query chiSiamo per desktop*/

@media (min-width: 1026px) {

  .cardChiSiamo {
    line-height: 2rem;
    width: 35%;
    min-height: 37rem;
    padding: 7rem 5rem 0rem 5rem;
  }

  .course-box ul {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .course-box img {
    height: 30rem;
    width: 40%;
  }

  #mediaDesktopChiSiamo{
    width: 45%;
  }
}

/*css IscrizioniSection1*/

#iscrizioni{
  animation: forwardIntro 2s ease-in;
}

#iscrizioni h1{
  display: block;
}

#introIscrizioni{
  background-image: url('../img/imgCardsHome/corso-nuovo-copertina-card.jpg.JPG');
  background-size: cover;
  position: relative;
  background-position: left;
  min-height: 22rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 13px 1px #716d62;
  overflow: hidden;
}

#introIscrizioni p{
  padding: 2rem;
  background-color: #000000a3;
  border-radius: 3rem;
  margin: 3rem 4rem 0rem 4rem;
}

#infoIscrizioni{
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 7px;
  margin: 3rem 0rem 3rem 0rem;
}

#infoIscrizioni span{
  display: block;
  margin-top: 1rem;
  color: #425da6;
}

.moduloInteresse{
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

/*query IscrizioniSection1 per tablet*/

@media (min-width: 426px) {

  #introIscrizioni p {
    margin: 5rem 10rem 0rem 10rem;
  }
}

/*query IscrizioniSection1 per laptop*/

@media (min-width: 769px) {

  #iscrizioni h1{
    display: none;
  }

  .moduloInteresse {
    border-radius: 1rem;
    padding: inherit;
    text-align: center;
  }

  #introIscrizioni {
    min-height: 30rem;
  }

  #introIscrizioni p {
    margin: 5rem 15rem 0rem 15rem;
    line-height: 2rem;
  }
}

/*query IscrizioniSection1 per desktop*/

@media (min-width: 1025px) {

  #introIscrizioni p {
    margin: 9rem 25rem 0rem 25rem;
    line-height: 2rem;
  }

  #introIscrizioni {
    min-height: 35rem;
  }
}

/*css Collaborazioni*/

.Collaborazioni{
  text-align: center;
  animation: forwardIntro 2s ease-in;
}

.documentazioneCollaborazioni{
  margin: 2rem 1rem 2rem 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px -2px;
}


/*query Collaborazioni per tablet*/

@media (min-width: 426px) {

  #collaboration{
    background-size: cover;
    background-position-x: 0;
  }

}

/*css VecchiCorsiSection1*/

#vecchiCorsiDisplayPhone{
  display: block;
  animation: forwardIntro 2s ease-in;
  text-align: center;
}

#vecchiCorsiDisplayDesktop{
  display: none;
  text-align: center;
}

.carousel-containerCorsi {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-trackCorsi {
  display: flex;
  transition: transform 0.4s ease;
}

.slideCorsi {
  flex: 0 0 100%;
  padding: 1rem;
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.slideCorsi.active {
  opacity: 1;
  transform: scale(1);
}

.buttonGroupCorsi {
  position: relative;
}

.buttonGroupCorsi{
  display: flex;
  position: absolute;
  width: 100%;
  top: 33rem;
  height: 10rem;
  justify-content: space-between;
}

#corsiEffettivi-libertà article,
#corsiEffettivi-lealtà article,
#corsiEffettivi-tenacia article,
#corsiEffettivi-fede article,
#corsiEffettivi-onore article,
#corsiEffettivi-forza article,
#corsiEffettivi-coraggio article,
#corsiEffettivi-dovere article{
  background-size: cover;
  background-color: white;
  min-height: 26rem;
  margin-top: 2rem;
  border: #949494 solid 1px;
  border-radius: 2rem;
  box-shadow: 0px 0px 4px;
  box-sizing: border-box;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

#corsiEffettivi-libertà article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-1-liberta_orig.jpg');
}

#corsiEffettivi-lealtà article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-2-lealta.jpg');
}

#corsiEffettivi-tenacia article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-3-tenacia.jpg');
}

#corsiEffettivi-fede article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-4-fede.jpg');
}

#corsiEffettivi-onore article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-5-onore.jpg');
}

#corsiEffettivi-forza article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-6-forza.jpg');
}

#corsiEffettivi-coraggio article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-7-coraggio.jpg');
}

#corsiEffettivi-dovere article{
  background-image: url('../img/immagini\ per\ corsi/copertina-corso-8-dovere.jpg');
}

/*query VecchiCorsiSection1 per tablet*/

@media (min-width: 426px) {

  #corsiEffettivi-libertà article,
  #corsiEffettivi-lealtà article,
  #corsiEffettivi-tenacia article,
  #corsiEffettivi-fede article,
  #corsiEffettivi-onore article,
  #corsiEffettivi-forza article,
  #corsiEffettivi-coraggio article,
  #corsiEffettivi-dovere article{
    min-height: 44rem;
  }

  .carousel-container {
    max-width: 700px;
    margin: auto;
  }
}

/*query VecchiCorsiSection1 per laptop*/

@media (min-width: 769px) {

  #corsiEffettivi-libertà article,
  #corsiEffettivi-lealtà article,
  #corsiEffettivi-tenacia article,
  #corsiEffettivi-fede article,
  #corsiEffettivi-onore article,
  #corsiEffettivi-forza article,
  #corsiEffettivi-coraggio article,
  #corsiEffettivi-dovere article{
    margin-left: 2rem;
    margin-right: 0;
  }

  .slideCorsiDesktop.active {
    opacity: 1;
    transform: scale(1);
  }

  .slideCorsiDesktop {
    flex: 0 0 100%;
    padding: 1rem;
    opacity: 0.5;
    transform: scale(0.9);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    height: 60rem;
    margin-top: 2rem;
  }

  #vecchiCorsiDisplayPhone{
    display: none;
  }

  #vecchiCorsiDisplayDesktop{
    display: block;
  }

  .contentSlideCorsiDesktop{
    margin: 3rem 6rem 4rem 7rem;
    line-height: 2rem;
    text-align: justify;
  }

  .ButtonCorsiDesktop{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .buttonGroupCorsi {
    top: 29rem;
    height: 20rem;
  }
}

@media (min-width: 1025px) {

  #corsiEffettivi-libertà article,
  #corsiEffettivi-lealtà article,
  #corsiEffettivi-tenacia article,
  #corsiEffettivi-fede article,
  #corsiEffettivi-onore article,
  #corsiEffettivi-forza article,
  #corsiEffettivi-coraggio article,
  #corsiEffettivi-dovere article{
    min-height: 55rem;
  }
  
  .slideCorsiDesktop {
    height: 70rem;
  }

  .buttonGroupCorsi {
    top: 25rem;
    height: 35rem;
  }

  .contentSlideCorsiDesktop{
    margin: 7rem 10rem 4rem 10rem;
    line-height: 2.5rem;
  }
}

/*css ContattiSection1*/

.Contatti{
  animation: forwardIntro 2s ease-in;
}

.spanContacts{
  display: block;
  margin: 1rem 0rem 1rem 0rem;
}

#contacts p{
  padding: 1rem;
}

#coordinate{
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0px -8px 22px -13px;
  border-radius: 2rem 2rem 0rem 0rem;
}

#coordinate h5{
  padding: 2rem 1rem 3rem 1rem;
  text-align: center;
  line-height: 2rem;
}

#coordinate iframe{
  width: 100%;
  min-height: 30rem;
}

.groupSocial{
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 15%, rgb(195 195 195) 51%);
  min-height: 13rem;
  color: black;
}

.groupSocial div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 1rem 1rem 1rem;
}

.itemSocial{
  box-shadow: 0px 6px 12px #000000;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
}

#tiktok{
  fill: #ffffff;
  background-color: black;
}

#youtube{
  fill: #ffffff;
  background-color: red;
}

#facebook{
  fill: #ffffff;
  background-color: #3b5998;
}

#instagram{
  fill: #ffffff;
  background-color: #c13584;
}

/*css footer*/

#footer{
  border-top: 1px solid gray;
  box-shadow: 0px 8px 12px 6px;
  text-align: center;
}

#logoFooter{
  display: none;
}

/*css footer laptop*/
@media (min-width: 769px) {

  #logoFooter{
    display: block;
    width: 9%;
    height: 6rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*css footer desktop*/
@media (min-width: 1025px) {
  
  #logoFooter{
    width: 8%;
    height: 8rem;
  }
}