:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  color: black;
  margin: 0;
}

/*css GlobalNavbarScs*/

#navbar {
  width: 100%;
  background-color: black;
}

#navbarPhone{
  align-items: center;
  display: flex;
  color: lightblue;
  justify-content: space-between;
  padding: 1rem;
}

#navbarMenu{
  margin: 0;
  background-color: white;
  padding: 0.5rem;
  color: black;
  border-radius: 1rem;
}

#navbarlogo{
  height: 2rem;
}

#navbarLaptop{
  display: none;
}

.showmenuOf{
  display: none;
}

.showMenuOn{
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

#itemNavbarClose{
  margin: 0;
  color: white;
  padding: 0.5rem;
}

.itemP{
  text-shadow: 2px -1px 3px #ffffff;
  padding: 0.5rem;
  color: white;
  margin: 0;
}

.itemHr{
  margin: 0;
  color: #7eff60;
}

/*css GlobalNavbarScs per laptop in su*/

@media (min-width: 769px) {
 
  #navbarPhone{
    display: none;
  }

  #navbarLaptop{
    display: flex;
    justify-content: space-around;
    color: lightblue;
  }

  .item-content{
    width: 17%;
    border-right: 2px solid gray;
    transform: skewX(34deg);
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .item-navbar{
    padding: 0.5rem;
    margin: 0;
    transform: skewX(-37deg);
    font-size: small;
  }

  .item-navbar:hover {
    color: #ffffff;
    background-color: #3ca976;
    border-radius: 2rem;
    box-shadow: -5px -4px 12px 0px;
    pointer-events: all;
    cursor: pointer;
  }
}

/*css HomeSection1*/

#intro{
  background-image: url('./img/foto\ per\ sfondo\ titolo\ principale\ home.jpeg');
  background-size: cover;
  background-position-x: 0rem;
  background-position-y: -4rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
}

#introduzione{
  text-align: center;
  background-color: #ffffff87;
  padding: 1rem;
  border-radius: 2rem;
}

#introduzione h1{
  margin: 0;
  padding: 0.5rem;
  font-size: larger;
  font-weight: 900;
}

#introduzione h3{
  margin: 0;
  padding-bottom: 1rem;
  font-size: small;
  font-weight: bolder;
}

#introduzione p{
  margin: 0;
  font-size: small;
}

#articole1{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-size: cover;
  background-position-x: -6rem;
  background-image: url('./img/immagini\ per\ section1/IMG_0622.JPG');
}

#articole1 h5{
  background-color: #ffffff70;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0px 0px 1rem 1rem;
}

#articole1 p{
  font-size: small;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 0;
  margin-top: 3rem;
  background-color: #ffffff8c;
  border-radius: 0rem 3rem 3rem 0rem;
}

#articole1 button{
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ffffff78;
  color: black;
  border-color: #b8e34c;
  border-radius: 2rem;
}

#articole2{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#brochureArticole2{
  background-image: url('./img/immagini\ per\ section1/DSC_3155.JPG');
  height: 17rem;
  background-size: cover;
  padding: 2rem;
}

#brochureArticole2 p{
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem;
  background-color: #ffffffa1;
  border-radius: 2rem;
}

#brochureArticole2 a{
  margin: 0.5rem;
  font-size: x-small;
}

.activeCard {
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
  background: linear-gradient(33deg, rgb(95 255 71) 17%, rgba(32, 227, 204, 1) 44%, rgb(229 65 65) 73%);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.allArrow{
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: black;
  font-size: x-small;
}

.allArrow:hover{
  box-shadow: 0px 0px 14px 1px;
  color: black;
  background-color: #E91E63;
  font-size: x-small;
}

#articole4{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#articole4 h5{
  margin: 0;
  padding: 1rem;
  background-color: #939393;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  margin-bottom: 3rem;
  border: 2px #bbbbbb solid;
  font-size: larger;
}

#group-loghi{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

#group-loghi a{
  width: 25%;
  margin: 1rem;
}

.loghi-link-collaborazioni{
  width: 100%;
  height: 5rem;
}

/*animazioni section1*/

/*css ChiSiamoSection1*/

#nascita{
  background-image: url('./img/immagini\ per\ section1/il Nucleo Istruttori.JPG');
  background-size: cover;
  height: 17rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
}

#nascita div{
  background-color: #ffffffad;
  padding: 1rem;
  margin-right: 3rem;
  border-radius: 0rem 1rem 12rem 0rem;
  color: black;
  font-size: small;
}

#mission{
  background-image: url('./img/immagini\ per\ section1/DSC_0204.JPG');
  background-size: 28rem 17rem;
  background-position-x: 0rem;
  height: 17rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: small;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#mission div{
  color: black;
  background-color: #ffffffab;
  padding: 0.5rem;
  margin-left: 2rem;
  border-radius: 1rem 0rem 0rem 5rem;
  text-align: right;
}

#progetto{
  background-image: url('./img/sfondo\ Chi\ siamo.jpg');
  background-size: 50rem 40rem;
  background-position-x: -14rem;
  font-size: small;
  height: 40rem;
  padding: 1rem;
  text-align: center;
}

#progetto div{
  background-color: #ffffffb5;
  color: black;
  padding: 0.5rem;
  border-radius: 3rem;
}

#video{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#groupVideo{
  display: flex;
  flex-direction: column;
}

#groupVideo iframe{
  width: 100%;
  height: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*css IscrizioniSection1*/

#introIscrizioni{
  background-image: url('./img/immagini\ per\ section1/DSC_2376.JPG mateo.JPG');
  background-size: cover;
  height: 21rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 4rem 0rem 0rem 8rem;
}

#introIscrizioni p{
  background-color: #ffffffab;
  margin: 0;
  padding: 0.5rem;
  font-size: small;
  color: black;
  border-radius: 2rem 0rem 0rem 2rem;
}

/*css VecchiCorsiSection1*/

.vecchiCorsiSinistra h5{
  margin: 1rem;
}

.vecchiCorsiSinistra img{
  width: 100%;
}

.vecchiCorsiSinistra p{
  margin-bottom: 1rem;
  margin-right: 4rem;
  background-color: #46a346;
  padding: 1rem;
  border-radius: 0rem 5rem 6rem 1rem;
  transform: skewX(10deg);
  box-shadow: -25px 0px 20px 4px;
  font-size: small;
  z-index: -1;
  position: relative;
}

/*css ContattiSection1*/

#coordinate h5{
  margin: 1rem;
  font-size: larger;
}

#coordinate p{
  margin: 1rem;
  font-size: smaller;
}

#coordinate iframe{
  border: 0px;
  width: 100%;
  margin-bottom: 1rem;
}

/*css footer*/

#footer{
  background-color: black;
  color: white;
  padding: 1rem;
}

#footer h5{
  margin: 0;
  padding: 0.5rem;
  z-index: -1;
}

#footer p{ 
  margin-top: 2rem;
  margin-bottom: 0;
}

.itemFooter{
  margin: 1rem;
  padding: 0.2rem;
  background-color: white;
  border-radius: 2rem;
}
