/*css GlobalNavbarScs*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: lightblue;
}

.navbar__menu-btn {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.navbar__logo img {
  height: 2rem;
}

.navbar__login {
  background: none;
  border: none;
  color: lightblue;
}

.is-open {
  position: absolute;
  background: black;
  z-index: 5;
  padding: 1rem;
  top: 0rem;
  width: 100%;
  box-shadow: 0px 1px 14px 7px;
}

.mobile-menu-header{
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.is-open ul{
  margin: 1rem 1rem 1rem 0rem;
  padding-left: 1.5rem;
}

.is-open li{
  padding: 1.5rem 0rem 0.5rem 0rem;
  border-bottom: solid 1px grey;
  width: 50%;
}

.link{
  color: white;
}

/* DESKTOP */
.navbar__desktop {
  display: none;
}

/*css GlobalNavbarScs per laptop in su*/

@media (min-width: 769px) {
  .navbar__mobile {
    display: none;
  }

  .navbar__desktop {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .navbar__desktop ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }

  .navbar__desktop li {
    width: 20%;
    text-align: center;
    transform: skewX(34deg);
    border-right: 2px solid gray;
    list-style-type: none;
  }

  .navbar__desktop a {
    display: block;
    padding: 1.5rem;
    transform: skewX(336deg);
    color: white;
    margin: 0.5rem;
  }

  .navbar__desktop a:hover {
    background-color: #4CAF50;
    border-radius: 2rem;
    box-shadow: -4px 1px 27px -1px;
  }
}

/*css per telefono*/

/*css home*/
#home-main{
  padding-bottom: 15rem;
}

.hero {
  padding: 8rem 0rem 4rem 0rem;
  text-align: center;
  color: white;
}

.hero span {
  display: block;
  color: #235fb7;
  margin-top: 1rem;
}

.hero p {
  margin-top: 1rem;
  padding: 0rem 4rem 0rem 4rem;
}

.imgFastLink{
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 22px 3px;
  color: #4c4c4cc9;
}

#intro-project{
  margin-right: 8rem;
}

.articole-value{
  margin: 1rem;
  border: 1px solid #555555;
  padding: 2rem 5rem 2rem 3rem;
  border-radius: 2rem;
}

.articole-value span{
  display: block;
  background-color: #1f2129;
  width: 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: larger;
}

.articole-value h5, .articole-value p{
  padding: 1rem 1rem 0rem 0rem;
}

.articole-button-value{
  
}

.section--media {
  text-align: center;
}

.section__media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #9db562;
  padding: 1rem 0rem 1rem 0rem;
}

.video-wrapper iframe {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.partners img {
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.section_pdf{
  padding: 1rem 3rem 10rem 3rem;
  background-image: url('./img/immagine-section-pdf-home.JPG');
  background-size: cover;
}

.section_pdf p{
  background-color: #ffffffcc;
  border-radius: 1rem;
}

.section_pdf a{
  margin: 2rem;
  background-color: #6f9342;
  box-shadow: 0px 2px 10px 4px;
}

/*css per tablet*/

/*css home tablet*/
@media (min-width: 426px) {

  .section-articole1 {
    height: 65vh;
    background-position-y: 0rem;
    background-position-x: -3rem;
  }

  .title-articole1 {
    width: 50%;
  }

  .articole1-cover {
    display: block;
    width: 55%;
    top: 8rem;
  }

  .articole1-text{
    padding: 2rem;
    margin: 3rem 1rem 0rem 0rem;
  }

  .articole1-button{
    margin: 3rem 0rem 0rem 5rem;
  }

  .section__media {
    flex-direction: row;
    padding: 1rem 0rem 1rem 1rem;
  }

  .video-wrapper{
    width: 60%;
    margin-top: 3rem;
  }

  .section_pdf {
    width: 50%;
    border-radius: 6rem 0rem 0rem 7rem;
  }
}

/*css per desktop*/

/*css home desktop*/
@media (min-width: 769px) {

  .hero__content {
    width: 50%;
  }

  .hero {
    background-position: top;
    height: 85vh;
  }

  .articole1-cover {
    display: none;
  }

  .section-articole1 {
    height: auto;
  }

  .section__grid {
    flex-direction: none;
  }

  .section__images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section-articole1 {
    height: 80vh;
    background: linear-gradient(176deg, rgba(130, 62, 62, 1) 3%, rgba(102, 186, 54, 1) 36%, rgb(255 255 255) 100%);
  }

  #imgDesktopHome1{
    top: -4rem;
    left: -19rem;
  }

  #imgDesktopHome2{
    top: -4rem;
    left: 22rem;
  }

  #imgDesktopHome3{
    top: -9rem;
    left: -19rem;
  }

  #imgDesktopHome4{
    top: -9rem;
    left: 23rem;
  }

  .articole1-text {
    padding: 2rem 6rem 2rem 6rem;
    width: 100%;
    margin: 0;
  }

  .section-articole1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    z-index: 1;
  }

  .section__images img {
    position: absolute;
    width: 80%;
    border-radius: 1rem;
  }

  .articole1-button {
    margin: 3rem 0rem 0rem 0rem;
  }
}

/*css ChiSiamoSection1*/

#nascita{
  background-image: url('./img/immagini\ per\ section1/il Nucleo Istruttori.JPG');
  background-size: cover;
  height: 17rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-position-x: -2.5rem;
  display: flex;
  justify-content: flex-end;
}

#nascita div{
  background-color: #ffffffe0;
  padding: 1rem 0rem 1rem 1rem;
  margin-left: clamp(8rem, 10vw, 14rem);
  border-radius: 8rem 0rem 0rem 0rem;
  text-align: center;
  width: 100%;
}

#mission{
  background-image: url('./img/immagini\ per\ section1/immagine bacrground second div section chi siamo.jpg');
  background-size: 28rem 18rem;
  background-position: bottom;
  height: 24rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#mission div{
  background-color: #c1c1c1;
  padding: 0.5rem;
  border-radius: 0rem 0rem 4rem 4rem;
  text-align: center;
}

#progetto{
  background-image: url('./img/sfondo\ Chi\ siamo.jpg');
  background-size: 50rem 40rem;
  background-position-x: -14rem;
  font-size: small;
  height: 40rem;
  padding: 1rem;
  text-align: center;
}

#progetto div{
  background-color: #ffffffb5;
  color: black;
  padding: 0.5rem;
  border-radius: 3rem;
}

#video{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#groupVideo{
  display: flex;
  flex-direction: column;
}

#groupVideo iframe{
  width: 100%;
  padding: 1rem;
  background-color: #666149;
  border-radius: 0rem 1rem 0rem 1rem;
  height: 12rem;
}

/*query chiSiamo per tablet*/

@media (min-width: 426px) {

  #nascita {
    background-position-y: -8rem;
  }

  #nascita div {
    margin-left: 27rem;
  }

  #mission {
    background-position: unset;
    background-position-y: 2rem;
    background-size: 48rem 31rem;
    height: 29rem;
  }

  #progetto {
    background-position-x: 0rem;
    padding: 6rem;
  }

  #groupVideo iframe {
    height: 25rem;
  }
}

/*css IscrizioniSection1*/

#introIscrizioni{
  background-image: url('./img/immagini\ per\ section1/DSC_2376.JPG mateo.JPG');
  background-size: cover;
  height: 21rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 5rem;
}

#introIscrizioni p{
  background-color: #ffffffab;
  margin-left: clamp(6rem, 30vw, 8rem);
  padding: 1rem;
  border-radius: 2rem 0rem 0rem 2rem;
}

.moduloInteresse{
  padding: 2rem;
  background-color: #f0e4d4;
  margin: 1rem;
  border-radius: 1rem;
}

/*query IscrizioniSection1 per tablet*/

@media (min-width: 426px) {

  #introIscrizioni {
    height: 26rem;
    padding-top: 1rem;
  }

}

/*css Collaborazioni*/

#collaboration{
  background-image: url('././img/immagini\ per\ section1/DSC_2429.JPG');
  background-size: 68rem 35rem;
  padding: 0.5rem;
  background-position-x: -39rem;
}

#firstDiv, #secondDiv{
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  background-color: #ffffffdb;
  text-align: center;
  border-radius: 1rem;
}

#firstDiv{
  margin: 1rem 1rem 10rem 1rem;
}

/*query Collaborazioni per tablet*/

@media (min-width: 426px) {

  #collaboration{
    background-size: cover;
    background-position-x: 0;
  }

}

/*css VecchiCorsiSection1*/

.vecchiCorsiSinistra h5{
  margin: 1rem;
}

.vecchiCorsiDestra h5{
  margin: 1rem;
  text-align: end;
}

.vecchiCorsiSinistra img, .vecchiCorsiDestra img{
  width: 100%;
}

.vecchiCorsiSinistra p, .vecchiCorsiDestra p{
  text-align: center;
  margin-bottom: 1rem;
  background-color: #46a346;
}

.vecchiCorsiSinistra p{
  margin-right: 3rem;
  border-radius: 0rem 3rem 3rem 3rem;
  transform: skewX(10deg);
  box-shadow: -25px 0px 20px 4px;
}

.vecchiCorsiDestra p{
  margin-left: 3rem;
  border-radius: 2rem 0rem 3rem 3rem;
  transform: skewX(347deg);
  box-shadow: 25px 0px 20px 4px;
}

.articoleCorsi{
  display: block;
}

.articoleCorsi hr{
  display: block;
}

.hrCorsiTablet{
  display: none;
}

/*query VecchiCorsiSection1 per tablet*/

@media (min-width: 426px) {

  .vecchiCorsiSinistra{
    width: 50%;
    padding-right: 1rem;
    border-right: 1px solid black;
    margin-left: 1rem;
  }

  .vecchiCorsiDestra{
    width: 45%;
    padding-left: 1rem;
  }

  .articoleCorsi{
    display: flex;
  }

  .articoleCorsi hr{
    display: none;
  }

  .hrCorsiTablet{
    display: block;
  }

  .vecchiCorsiSinistra p, .vecchiCorsiDestra p{
    padding: 1rem;
    min-height: 16rem;
  }
}

/*css ContattiSection1*/

#coordinate h5{
  margin: 1rem;
  font-size: larger;
}

#coordinate p{
  margin: 1rem;
  font-size: smaller;
}

#coordinate iframe{
  border: 0px;
  width: 100%;
  margin-bottom: 1rem;
}

/*css footer*/

#footer{
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0rem;
  width: 100%;
}

.itemFooter{
  margin: 1rem;
  padding: 0.2rem;
  background-color: white;
  border-radius: 2rem;
}

#footer a{
  
}