body   {
  color: black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-size: small;
  font-weight: bolder;
  padding: 1rem;
}

p, button{
  margin: 0;
  font-size: x-small;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

#collaborationBigSection{
  min-height: 36rem;
}

/*query per css globale tablet*/

@media (min-width: 426px) {

  h1, h2, h3, h4, h5, h6 {
    font-size: medium;
  }

  p, button {
    font-size: small;
  }
}